body {
	display: flex;
	justify-content: center;
}

.gameboard {
	margin: 10px;
	padding: 10px 20px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
	grid-gap: 12px;
}

@media screen and (max-width: 768px) {
	.gameboard {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;
		grid-gap: 5px;
	}
}
